@charset "UTF-8";


#article_header, article.article_header {
    height: 65px;
    margin: 15px auto;
    border-bottom: 1px solid #C1C6C8;
    width: 887.458px;
}

.nowLocation{
	float:left;
	height: inherit;
	margin-left: 2%;
}

.locationName {
	font-family: 'Do Hyeon', sans-serif;
    font-size: 2.2em;
    color: #363838;
    display: inline-block;
    margin-top: 5%;
}

a {
	text-decoration: none;
}



.nowLocation {
    float: left;
    height: auto;
    width: 100%;
    margin-left: 2%;
    margin-top: 10px;
}

.nowLocation span,.nowLocation a{
	margin-top:0;
	font-family: 'Do Hyeon', sans-serif;
}

.nowLocation a:nth-child(1) {
    position: relative;
    display: inline-block;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15pt;
    color: #707C7F;
    bottom: 4px;
    margin-right: 15px;
}

.nowLocation span:nth-child(2) {
    width: 15px;
    height: 15px;
    background-image: url(../images/board_icon/btn01.png);
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    bottom: 4px;
    margin-right: 8px;
}

.sr_homeBtn {
    display: inline-block;
    float: right;
    position: relative;
    right: 40px;
    top: 6px;
}

button#sr_home {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    width : 40px;
    height : 40px;
    color: #322;
    padding: 5px;
    box-shadow: -1px 1px 2px #00000080;
    background-image: url('../img/home.png');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

button#sr_home:hover, button.btn:hover, div.option > div button:hover,
div.itemBtn button:hover, div.itemBtn input:hover, div.wishItem p:nth-last-child(1) button:hover  {
	transition-duration: 0.3s;
	background-color :#57beec;
	color:#fff;
}

div.itemBtn button:hover a{
	color :#fff;
}

button#sr_nextBnt {
    border: 0;
    background-color: #db362c;
    color: #fff;
    padding: 3px 9px 5px 9px;
    border-radius: 4px;
    box-shadow: -1px 1px 2px #00000080;
    position: relative;
    margin: 0 10px;
    top: -8px;
}

button#sr_nextBnt:hover{
	transition-duration: 0.3s;
	background-color :#9f297a;
}

.al_day {
    position: absolute;
    z-index: 99;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 5px;
    background-color: #fff;
    box-shadow: -1px 1px 2px #00000080;
}


div.al_days{
	position: relative;
    top: 30%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: -1px 1px 2px #00000080;
    background-color: #fff;
    padding: 10px;
	width: max-content;
}

article.al_leftBox {
    position: absolute;
    left: -125px;
    z-index: 999;
}


#menu_days > li:nth-child(1) {
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
    color: #434d60;
}

#menu_days li {
    padding: 0 15px;
    margin: 8px 0;
}

input.al_dayBtn {
    border: 0;
    background-color: #3383c4;
    border-radius: 4px;
    box-shadow: -1px 1px 2px #00000080;
    color: #fff;
    padding: 6px 18px;
}


input.al_dayBtn:hover {
	transition-duration: 0.3s;
	background-color :#25ae70;
}

.al_mileage {
    position: relative;
    margin: 10px auto;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: -1px 1px 2px #00000080;
}

p#menu_mileage {
    font-weight: 600;
    color: #434d60;
}

.al_mileage p {
    margin: 10px auto;
    text-align: center;
}

.al_memberBox {
    position: relative;
    margin: 10px auto;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: -1px 1px 2px #00000080;
}

ul#menu_teammember li:nth-child(1){
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
    color: #434d60;
    border-bottom : 1px solid #ddd;
}

ul#menu_teammember li {
    text-align: left;
    padding: 0 15px;
    margin: 8px 0;
    font-size: 12pt;
    font-weight: 100;
}

button.btn {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: -1px 1px 2px #00000080;
    border-radius: 4px;
    margin-left: 6px;
    padding: 0px 7px 1px 7px;
    color: #352d2d;
}

#menu_wrap, #menu_wrap2 {
    position: absolute;
    top: 30px;
    right: 0;
    width: 291px;
    height: 90%;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.80);
    z-index: 1;
    font-size: 12px;
    box-shadow: -1px 1px 1px #00000080;
}

div#btn_group {
    position: absolute;
    top: 0;
    z-index: 99;
    right: 0px;
    background-color: #3383c4;
    width: 301px;
    height: 40px;
    box-shadow: -1px 1px 2px #00000080;
    overflow: hidden;
}

button#showList, button#addList {
    width: 49%;
    margin: 1% 0.5%;
    border: 0;
    border-radius: 10px 10px 0px 0px;
    height: 98%;
    font-weight: 600;
    font-size: 10pt;
    letter-spacing: 0.5pt;
    box-shadow: -1px 1px 2px #00000080;
    background-color: #fff;
}


button#showList:hover, button#addList:hover {
	transition-duration: 0.3s;
	box-shadow: inset -1px 1px 1px #00000080;
	background-color :#57beec;
	color:#fff;
}

div.option > div {
    margin: 8px 0;
}

select#cate,input#keyword {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    color: #5a4949;
    font-weight: 600;
}

div.option > div button {
    border: 0;
    background-color: #3383c4;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
}

.itemBtn {
    margin-bottom: 10px;
}

div.itemBtn button, div.itemBtn input, div.wishItem p:nth-last-child(1) button {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
}

div.wishItem {
    margin: 5px 2px;
    background-color: #dce2e4;
    box-shadow: inset 0px 1px 2px #00000080;
}

div.wishItem:nth-last-child(1){
	border-bottom: 0;
}

div.wishItem p {
	padding : 5px;
}


div.wishItem p:nth-child(1) {
    font-weight: 600;
    padding: 8px;
}

div.wishItem p span:nth-child(1) {
    font-weight: 600;
    margin-right: 10px;
    color: #563f3f;
}

div.menu_day {
    padding: 6px;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 0.5pt;
    color: #543636;
}